.writing{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}
.web{
    color:  #00f2fe ;
}
.navbar{
 background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
height: auto;    
border-bottom-left-radius: 20px;
padding: 5px 10px 15px 20px;
color: white;
}
.navpills{
    padding: 5px 10px; 
    text-align: right;
    color: white;
}
.home{
    list-style: none;
    display: inline;
    color: white;
}
.link{
    color: white;
    padding: 10px;
    display: inline;
    text-align: center;
    text-decoration: none;
    /* background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); */
    padding: 10px 10px ;
    border-radius: 20px;
}
.bgcolor{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.image{
    display: flex;
    justify-content: center;
}
.imageheader{
    text-align: center;
    color: rgb(43, 43, 43);
}
.offwhitesection{
    background-color: rgb(236, 236, 236);
    padding: 10px;
    border-radius: 10px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.offwhite{
    text-align: center;
}
.heaaa{
    text-align: center;
}
.whitesection{
    text-align: center;
    padding: 30px  ;
    margin-bottom: 50px;
}
.seclink{
    text-align: center;
    padding: 10px 10px;
}
.secondary{
    border: 1px solid  linear-gradient(to right, #4facfe 0%, #00f2fe 100%) ;
    padding: 10px 10px;
    border-radius: 20px;
    text-decoration: none;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.footer{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    padding: 10px 10px ;
    border-top-right-radius: 20px; 
    margin-top: 50px;
}
.blog-footer{ margin-top: 343px;}
.headerinside{
    color: white;
    text-align: center;
}
.ol{
    text-decoration: none;
    text-align: center;
}
.primary{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    width: 130px;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none ;
    margin-bottom: 10px;
}
.button{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    padding: 10px;
    border-radius: 10px;
    width: 130px;
    text-align: center;

}
a{
    text-decoration: none;
    color: white;
}
.linka{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
     padding: 10px 10px ;
    border-radius: 20px;
    display:inline;
    margin-right: 20px;
    
}
.display{
    display: flex;
    justify-content: center;
}